//Text open and close
@keyframes textAnime{
  0%{
    top: 50px;
    opacity: 0;
  }
  50%{
    top: -30px;
  }
  100%{
    top: 0;
    opacity: 1;
  }
}

//Animating the Color
// @keyframes textColor{

//   0%{
//       color: #2d7e31;
//   }
//   35%{
//       color: #43f2ff;
//   }
//   65%{      
//       color: #dd2691;
//   }
//   100%{      
//       color: #47cadb;
//   }
// }

//This is text fading in and out
@keyframes opacityText{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100%;
  }
}

//Underline Animation
// @keyframes underline{

//   0%{
//       background-color: #03a9f4;
//   }
//   35%{
//       background-color: #f441a5;
//   }
//   65%{      
//       background-color: #ffeb3b;
//   }
//   100%{      
//       background-color: #03a9f4;
//   }

// }