@use "abstracts";
//Body styles and centering the body
body{
  background-color: black;
  color: white;
  font-family: gotham;
  font-weight: lighter;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  margin-top: 25%;
  letter-spacing: 8px;
  font-size: 4em;
  animation: opacityText 1s forwards ease-in, 
  textAnime 1s forwards ease-in, 
  textColor 2s infinite 0.2s ease-in-out;
}
//navigation side to side separation
.main{
  width: 900px;
  display: flex;
  margin-top: 50px;
  .box{
    margin-top: 10%;
    width: 100%;
    font-size: 2em;
    display: flex;
    justify-content: center;
    ul{
      list-style: none;
      li{
        display: inline;
      }
    }
  }
}
li{
  a{
    color: white;
    text-decoration: none;
    padding: 2px;
  }
}


//Navigation list styling and links
.javascript, .jquery{
  cursor: pointer;
  padding: 2px;
}
.hidden{
  display: none;
  font-size: 14px;
}
.javascript:hover .hidden, .jquery:hover .hidden {
  display: block;
padding: 10px;
}

//underline animation
.anime{
  position: relative;
}
.anime::before{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  animation: underline 2s ease-in 1s infinite;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.anime:hover::before{
  transform: scale(1);
  transform-origin: bottom left;
}
