//Text open and close
/*Text open and close*/
@keyframes textAnime{
  0%{
      color: black;
  }
  30%{
      letter-spacing: 25px;
  }
  85%{
      letter-spacing: 2px;
  }
  100%{
    letter-spacing: 8px;
  }
}
//Animating the Color
/*This is animating the color*/
@keyframes textColor{

  0%{
      color: #dbbe47;
  }
  35%{
      color: #fffc43;
  }
  65%{      
      color: #ddcb26;
  }
  100%{      
      color: #dbbe47;
  }
}

//This is text fading in and out
/*Thi is text fading in and out*/
@keyframes opacityText{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100%;
  }
}

//Underline Animation
/*Underline animation*/
@keyframes underline{

  0%{
      background-color: #03a9f4;
  }
  35%{
      background-color: #f441a5;
  }
  65%{      
      background-color: #ffeb3b;
  }
  100%{      
      background-color: #03a9f4;
  }

}